// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
$primary: #196AA6;
$orange: #F79420;
$dark-blue: #064B66;
$dark-green: #0D4F4C;
$dark-purple: #123B4F;
$dark-gold: #C2912E;
$yelow: #FAC826;
$light-yelow: #FFFACB;
$light-gold: #EDD688;
$blue: #00A0BB;
$white: #FCFCFC;
$bg: #F4F4F4;